RewriteEngine On

RewriteCond %{HTTP:X-Requested-With} =XMLHttpRequest
RewriteRule ^P2/(.*)/?(\d*) /server/server.php?page=$1&id=$2

RewriteCond %{HTTP:X-Requested-With} !=XMLHttpRequest
RewriteRule (\w+)/(\d+) index.html

ErrorDocument 404 /index.html