.movie-list-body {
    transition: all .5s cubic-bezier(.25,.47,.61,1.02);
}
/*============================
|*****  Web Responsive *******|
=============================*/

@media (max-width: 1199px) { }

@media (max-width: 991px) { 
    .top-page {
        padding-top: 40px;
    }

    #app {
        padding: 20px;
    }

    .top-page .movie-img {
        height: 40vh;
    }        

    .top-page .movie {
        width: 100%;
    }  
    
    .home-page .movie {
        width: 23.5%;
    }

    #largest-page .movie {
        width: 31%;
        margin-right: 10px;
    }

    #largest-page .movie-img {
        height: 25vh;
    }
    #largest-page.movie-list-body {
        justify-content: left;
    }

    #largest-page.movie-list-body .movie {
        margin: 5px;
    }
    .favorite-page .movie {
        width: 33%;
    }
    #movie-single .row.first {
        flex-direction: column;
    }

    .movie-single .bg {
        width: 50%;
    }

    #movie-single .row.first .col-3,
    #movie-single .row.first .col-9 {
        max-width: 100%;
    }

    .movie-single .twitter .bg {
        width: 90px;
    }

   
}

@media (max-width: 575px) { 
    .top-page .movie-img {
        height: 100vw;
    }

    .top-page .movie {
        flex-direction: column;
    }

    .top-page .movie-info {
        flex: initial;
    }

    .top-page .movie-title a {
        font-size: 20px;
    }

    .favorite-page .movie-fav {
        flex-direction: column;
    }

    .favorite-page .movie {
        width: 100%;
    }

    .movie-list-title {
        flex-direction: column;
    }
    #movie-single .row {
        flex-direction: column;
    }

    .movie-single .twitter .bg { 
        width: 90px;
    }

    .movie-single .col-3,
    .movie-single .col-6,
    .movie-single .col-9,
    .movie-single .col-8 {
        flex: 1;
        max-width: 100%;
    }

    .youtube.row .col-4.right {
        display: none;
    }

    .twitter .bg {
        margin: 0 auto;
    }

    .twitter {
        text-align: center;
        align-items: center;
    }

    .home-page .movie-list-title .pointer {
        width: 100%;
        justify-content: space-between;
    }

    .home-page .movie {
        margin: 0;
        width: 100%;
    }

    .home-page .movie-list {
        overflow-x: hidden;
    }
    .home-page .movie-img {
        height: 200px;
    }

    .home-page .searching-box {
        font-size: 5vh;
        margin: 32px 0;
    }

    #largest-page.movie-list-body {
        flex-direction: column;
    }

    #largest-page.movie-list-body .movie {
        width: 100%;
    }

    #largest-page .movie-img {
        height: 250px;
    }

    .people .wrapper .bg {
        display: none;
    }

    .people .wrapper {
        width: 100vw;
        height: 100vh;
    }

    .people .wrapper .right{
        overflow-y: auto;
        height: 100vh;
    }

    .movie-single .bg {
        width: 100%;
    }
}

