/*========================
|*******  Top Page *******|
=========================*/
.top-page {
    counter-reset: myCounter;
}

.top-page .movie-img::before {
    margin: 0;
    counter-increment: myCounter;
    content:  counter(myCounter) ;
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: green;
    position: absolute;
    top:0;
    left:0;
}


/*========================
|*********  404 *********|
=========================*/
.not-found {
    display: flex;    
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.not-found .wrapper {
    text-align: center;
}

.not-found .wrapper a {
    font-family: 'HelveticaNeueRegular';
    border: 2px solid #FFF;
    border-radius: 25px;
    padding: 10px 60px;
    margin: 20px 0;
    display: inline-block;
}

.not-found .wrapper h3 {
    font-family: 'HelveticaNeueBold';
    font-size: 85px;
    text-align: center;
}

.not-found .wrapper p {
    font-family: 'HelveticaNeueBold';
    font-size: 20px;
    margin: 20px 0;
    letter-spacing: 1.5px;
}

.not-found i {
    margin-left: -20px;
}

.top-page .movie {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    /* flex-direction: column; */
    flex-shrink: 0;
    width: 49%;
    margin-bottom:10px; 
}
.top-page .movie-list-body {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.top-page .movie-img {
    height: 15vw;
    width: 200%;
    background-size: cover;
    background-position: center;
    position: relative;
}
.top-page .movie-info{
    margin-left:15px;
}