.top-page {
    counter-reset: myCounter;
}
.top-page .movie-img::before{
    margin: 0;
    counter-increment: myCounter;
    content:  counter(myCounter) ;
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: green;
    position: absolute;
    top:0;
    left:0;
    
}
