.top-page {
    counter-reset: myCounter;
}
.top-page .movie-img::before{
    margin: 0;
    counter-increment: myCounter;
    content:  counter(myCounter) ;
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: green;
    position: absolute;
    top:0;
    left:0;
}
.not-found{
    display: flex;    
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
}
.wraper a{
    font-family: 'HelveticaNeueBold';
    border: 2px solid white;
    padding: 10px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    text-align: center;
    position: absolute;
    margin: auto;
    width: 30%;
    font-size: 15px;
    
}
.wraper h3{
    font-family: 'HelveticaNeueBold';
    font-size: 85px;
    text-align: center;
}
.wraper p{
    font-family: 'HelveticaNeueBold';
    font-size: 20px;

  }