/*========================
|****  NOMALIZATION *****|
=========================*/
ul {
  padding: 0;
  list-style: none;
}

h3 {
  margin: 0;
}

a:hover {
    text-decoration: none;
    color: #FFF;
}

/*========================
|*******  Default *******|
=========================*/
body {
    color: #FFF;
    font-family: 'HelveticaNeueLight';
    background-color: #181818;
    min-height: 100vh;
}

#app {
    min-height: calc(100vh - 80px);
}

a {
    color: #FFF;
}

svg {
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 50%);
}
  
svg polygon {
    stroke-dasharray: 17;
    -webkit-animation: dash 3s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
    animation: dash 3s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
}
  
@-webkit-keyframes dash {
    to {
        stroke-dashoffset: 136;
    }
}
  
@keyframes dash {
    to {
        stroke-dashoffset: 136;
    }
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}  

/*========================
|*******  Default *******|
=========================*/
header {
    display: flex; 
    justify-content: space-between;
    padding: 20px 0;
}

header nav,
header ul {
    width: 100%;
}

header li {
    display: inline-block;
    padding: 0 10px;
}

header li:first-child {
    padding-left :0;
}

header li:last-child {
    padding-right: 0;
    float: right;
}

header a {
    color: #7E7E7E;
    display: block;
    position: relative;
    letter-spacing: 1.2px;
}

header li.is-active a,
header li:hover a {
    color: #FFF;
}

header li.is-active a:after {
    content: '';
    width: 70%;
    height: 2px; 
    background: #1DB955;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

/*========================
|******  HOME PAGE *******|
=========================*/

.searching-box {
    width: 100%;
    margin-top: 50px; 
    font-size: 60px;
    background: transparent;
    text-align: right;
    border:none;
    outline: none;
    color: #FFFFFF;
    letter-spacing: 1.2px;
}

.searching-box::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #2A2A2A;
  }

.movie-list-title {
    font-family: 'HelveticaNeueBold';
    font-size: 25px;
    height: 50px;
    border-bottom: 1px solid #282828;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie-list-title .pointer {
    display: flex;
}

.movie-list-title i {
    font-size: 15px;
    cursor: pointer;
    color: #7E7E7E;
    padding: 0 5px;
}

.movie-list-body {
    display: flex;
    justify-content: center;
    overflow: hidden;
    justify-content: space-between;
} 

.movie {
    width: 19%;
}

.movie-img {
    height: 15vw;
    background-size: cover;
    background-position: center;
    position: relative;
}

 .movie-img .action-group {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
}

.movie-img:hover .action-group {
    opacity: 1;
    visibility: visible;
    transition: all .2s ease;
}

.movie-img i {
    padding: 25px;
    font-size: 25px;
    cursor: pointer;
    position: relative;
}

.movie-img a {
    font-size: 25px;
}

.movie-img .icon-play {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.movie-img .icon-play:before {
    z-index: 2;
    position: relative;
}

.movie-img .icon-play:after {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #FFF;
    border-radius: 50%;
    padding: 30px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-55%, -50%);
    z-index: 1;
    transition: all .1s ease;
}

.movie-img .icon-play:hover:after {
    padding: 32px;
    transition: all .1s ease;
}

.movie-detail {
    padding: 5px 0;
    color: #B3B3B3;
}

.movie-title {
    font-family: 'HelveticaNeueRegular';
    padding: 10px 0;
    color: #FFF;
    letter-spacing: 1px;
}

.movie-title a:hover {
    border-bottom: 1px solid #FFF;
    padding-bottom: 2px;
}

.movie-detail {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    font-size: 15px;
    letter-spacing: 1px;
}

.w-100{
    padding: 0.1cm;
}
